@font-face {
    font-family: "Pretendard";
    src: local("Pretendard"), url('@/assets/fonts/Pretendard-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Pretendard";
    src: local("Pretendard"), url('@/assets/fonts/Pretendard-Medium.ttf') format('truetype'); 
    font-weight: medium;
}

@font-face {
    font-family: "Pretendard";
    src: local("Pretendard"), url('@/assets/fonts/Pretendard-Regular.ttf') format('truetype'); 
    font-weight: regular;
}

@font-face {
    font-family: "Pretendard";
    src: local("Pretendard"), url('@/assets/fonts/Pretendard-Light.ttf') format('truetype'); 
    font-weight: light;
}
