@font-face {
    font-family: "Pretendard";
    /* src: local("Happiness-Sans"), url(${Font_R}) format('truetype');  */
    src : url('/src/assets/fonts/Pretendard-Bold.ttf');
    font-weight: 700;
  }
  
@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src : url('/src/assets/fonts/Pretendard-Medium.ttf');
  font-weight: 500;
}
  
@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src : url('/src/assets/fonts/Pretendard-Regular.ttf');
  font-weight: 400;
}
  
@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src : url('/src/assets/fonts/Pretendard-Light.ttf');
  font-weight: 300;
}